# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Virtual Environment
.venv/
venv/
env/

# Database
*.db
*.sqlite
*.sqlite3

# Environment variables
.env

# Tableau
*.twbx
*.hyper
*.tds
*.tdsx

# Logs
*.log
